
<style type="text/css">
.row{padding:20px 0;}
</style>
<div style="background-color: #eff0f2;padding-bottom:20px;padding-top:20px;margin-top:-30px;">
    <div class="container">
        <span style="color:#919191;font-size:24px;">
        	About Coozilla.
        </span>
	</div>
</div>
<br>
<div class="container">
    <div class="row">
		<div class="col-md-3">
		  <h3>What is Coozilla?</h3>
		</div>
		<div class="col-md-8" style="font-size:16px;line-height:28px;">
			CooZilla helps freelance web professionals promote their skills and find new work opportunities. If you hire freelancers, post a job on CooZilla , and the most relevant freelancers will be instantly informed, enabling you to find the best talent.
		</div>
	</div>
</div>