
<style type="text/css">
.row{padding:20px 0;}
h2{font-weight:bold;}
h3{line-height:32px;}
</style>
<div style="background-color: #eff0f2;padding-bottom:20px;padding-top:20px;margin-top:-30px;">
    <div class="container">
        <span style="color:#919191;font-size:24px;">
        	Contact.
        </span>
	</div>
</div>
<br>
<div class="container">
    <h2><a href="">@CooZilla on Twitter</a></h2>
    <h3>For service status updates, new features <br>and good new-fashioned conversation, follow </h3><br>
    <h2><a href="">@CooZilla on Google+</a></h2>
    <h3>If you like CooZilla and want fancy feature <br> updates, prove it and click the like button!</h3><br>
    <h2><a href="">services@coozilla.com</a></h2>
    <h3>Interested in Talking with us  for anything, welcome.</h3>
</div>