<style type="text/css">
	div.inputClass{
		margin-top: -10px;
		font-size: 36px;
		width: 73%;
		float: right;
	}
	span.changeBtn{
		float: right;
		font-size: 22px;
	}
	span.changeBtn a:hover{
		text-decoration: none;
	}
	.profileLine{
		padding-top: 4%;
		padding-bottom: 2%;
		border-bottom: 1px solid #eff0f2;
	}
	.profileLine label{
		font-size: 22px;
	}
	.profileLine input{
		width: 95%;
	}
</style>
<style type="text/css">
.row{padding:20px 0;}
</style>
<div style="background-color: #eff0f2;padding-bottom:20px;padding-top:20px;">
    <div class="container">
        <span style="color:#919191;font-size:24px;">
        	Edit Job.
        </span>
	</div>
</div>
<div class="container">
    <div class="row">
		<div class="col-md-3">
			<input type="text" value="{{job.job_title}}" style="border-radius:2px;height:34px;width:220px;" 
				ng-model="job.job_title" class="form-control">
		</div>
		<div class="col-md-3">
			<select select-picker ng-model="job.job_category" id="job_category">
				<option value="1">Design</option>
			    <option value="2" select="selected">Programming</option>
			    <option value="3">System administration</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<summer-note for-id="editor" height="200" for-watch="job.job_description"></summer-note>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"><span>Must need skill :</span></div>
		<span ng-repeat="skill in job.skills" style="padding-left:5px;">{{skill.code_value}}&nbsp;&nbsp;</span>
	</div>
	<div class="row">
		<div class="col-md-3">
			<select id="job_skills" 
					ng-model="job.skills"
					select-picker
					data-live-search="true"
					title="Selected skills(max 5)" 
					ng-options ="skill as skill.code_value for skill in skillsOption" 
					ng-change="selectSkill()"
					multiple
					watch="job.skills"
					data-size="7">
			</select>
		</div>
		<div class="col-md-3">
			<span ng-click="removeAllSelect()">removeAllSelect</span>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-md-6"><div class="btn btn-lg btn-primary btn-block" ng-click="save()">Save</div></div>
	</div> 
</div>