<style type="text/css">
	table.info{
		font-size: 18px;
		text-align: left;
	}
	span.infoData{
		padding-left: 8%;
	}
</style>
<div>
	<div style="font-size:24px;">
		Worker
	</div>	
	<hr>
	<div>
		<table class="info" cellpading="2" cellspacing="4" width="100%">
			<tbody>
				<tr>
					<td>Account:</td>
					<td><span class="infoData">{{login.member_account}}</span></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><span class="infoData">{{login.member_email}}</span></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td><span class="infoData">{{worker.worker_name}}</span></td>
				</tr>
				<tr>
					<td>Tele:</td>
					<td><span class="infoData">{{worker.worker_telephone}}</span></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><span class="infoData">{{worker.worker_address}}</span></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<div class="row">
			<div class="col-md-12" style="height:50px;width:595px;">
				<span><font style="font-size:20px">Skill</font></span>
				<br>
				<span  ng-repeat="skill in worker.skills" style="border-bottom:0px;"
						 title="Remove">{{skill.code_value}}
					&nbsp;
				</span>
			</div>	
		</div><br>
		<div style="width:690px;">
			<span><font style="font-size:20px">Your Experience</font></span>
			<div class="experience">
			</div>
	    </div>
	</div>
	
	<div style="float:right;">
		<img src="{{worker.worker_image}}" height="100px;" width="200px;">
	</div>
</div>