<style type="text/css">
	table.info{
		font-size: 18px;
		text-align: left;
	}
	span.infoData{
		padding-left: 8%;
	}
	input.infoData{
		border-radius:3px;
		width: 60%;
	}
</style>
<div>
	<div style="font-size:24px;">
		Worker
	</div>	
	<hr>
	<div>
		<table class="info" cellpading="2" cellspacing="4" width="100%">
			<tbody>
				<tr>
					<td>Account:</td>
					<td><input class="infoData" value="{{login.member_account}}" disabled></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input class="infoData" value="{{login.member_email}}" disabled></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td><input class="infoData" value="{{worker.worker_name}}"  ng-model="worker.worker_name"></td>
				</tr>
				<tr>
					<td>Tele:</td>
					<td><input class="infoData" value="{{worker.worker_telephone}}"  ng-model="worker.worker_telephone"></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input class="infoData" value="{{worker.worker_address}}" ng-model="worker.worker_address"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<select 
	  			id="skill" 
				ng-model="worker.skills" 
				select-picker
				data-width="235%" 
				data-live-search="true" 
				title="Selected skills"  
				ng-options ="skill as skill.code_value for skill in skillsOption" 
				ng-change="selectSkill()" 
				multiple
				watch="worker.skills"
				data-size="7"
				data-style="btn-lg">
			</select>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="height:150px;width:595px;">
			<span ng-click="removeAllSelect()" class="hover-pointer" title="Remove">Remove all
				<span id="removeAll" class="glyphicon glyphicon-remove"></span>
			</span>
			<br>
			<br>
			<span  ng-repeat="skill in worker.skills" style="border-bottom:0px;">{{skill.code_value}}
				&nbsp;
			</span>
		</div>	
	</div>
	<hr>
	<div id="toolbar" class="btn-toolbar" data-role="editor-toolbar" data-target="#editor" style="margin-left:7%;width:100%;">
      	<div class="btn-group">
	        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font">
	        	<i class="icon-font"></i><b class="caret"></b>
	        </a>
          	<ul class="dropdown-menu">
  				<li><a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li>
  				<li><a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
  				<li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
  				<li><a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial Black</a></li>
  				<li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
  				<li><a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier New</a></li>
  				<li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li>
  				<li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li>
  				<li><a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li>
  				<li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida Grande</a></li>
  				<li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida Sans</a></li>
  				<li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>
  				<li><a data-edit="fontName Times" style="font-family:'Times'">Times</a></li>
  				<li>
  					<a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times New Roman</a>
  				</li>
  				<li><a data-edit="fontontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
				</ul>
        </div>

        <div class="btn-group">
	        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
	          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
	          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
	          </ul>
        </div>

      	<div class="btn-group">
	        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
	        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
	        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
	        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
      	</div>
	      
	    <div class="btn-group">
	        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
	        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
	       <!--  <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
	        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a> -->
	    </div>

	    <div class="btn-group">
	        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
	        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
	        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
	        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
	    </div>
	    <div class="btn-group">
	        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
	        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
	    </div>
	</div>
	<div id="editor" ng-model="worker.worker_experience" style="margin-left:0%;width:100%;">
	</div>
	<div>
		<form action="uploads/upload.php" method="post" enctype="multipart/form-data" id="changImg">
			<input type="file" size="40" name="Filedata" id="file_upload" onchange="changeImg()" >
		</form>
	</div>									
	<div style="float:right;" >
		<img src="{{worker.worker_image}}" height="100px;" width="200px;" id="img" onClick="clickImg()" >
	</div>
	<button class="btn btn-lg btn-primary" style="margin-top:7%;width:70%;" ng-click="update()">Save</button>
</div>
<script type="text/javascript">
	function clickImg(){
		$('#file_upload').trigger('click');
	}
	function changeImg(){
		// if($('#img').attr('src') == '' || $('#img').attr('src') == undefined){
	        $('#changImg').ajaxSubmit(function(msg){
	        	if(msg == ''){
	        		alert('Invalid file type.');
	        	}else{
	        		var fileOld = $('#img').attr('src');
	        		var fileNew = msg;
		        	$('#img').attr('src',fileNew);
		        	//delete fileNew
		        	$.ajax({
					 	type: "POST",
			          	url: "uploads/remove.php",
			          	data: "file="+fileOld
			        });
			        //update DB img value
			        $.ajax({
			        	type: "POST",
			          	url: "uploads/updateWorkerImg",
			          	data: "fileNew="+fileNew+"&fileOld="+fileOld
	        		});
	        	}
	        });
		// }
	}
</script>