<!-- 
<div class="modal fade" id="login" tabindex="4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class=" icon-user" >  Login</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">Account</div>
            <div class="col-xs-4"><input type="text"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">Password</div>
            <div class="col-xs-4"><input type="password"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="regist" tabindex="4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class=" icon-edit" >  Regist</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">Account</div>
            <div class="col-xs-4"><input type="text"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">Email</div>
            <div class="col-xs-4"><input type="text"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">Password</div>
            <div class="col-xs-4"><input type="password"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">Retype password</div>
            <div class="col-xs-4"><input type="password"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4">Hirer</div>
            <div class="col-xs-4">
                <input id="category" type="checkbox" checked data-on="primary" data-off="danger" data-on-label="Hirer" data-off-label="Worker"/>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="registBtn()">Regist</button>
      </div>
    </div>
  </div>
</div> -->