<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" style="background:#fff;padding:0;">
		<h1><strong>Put the jobs<br>	
		into your email box.</strong></h1><br>
		<div class="row">
		  <div class="col-md-2">
		  	<a href="{{$root.url_pattern}}/post/job/new" class="btn btn-lg btn-primary" ng-show="jobBtn">
			Post Your Job</a></div>
		  <div class="col-md-2">
		  	<a href="{{$root.url_pattern}}/post/work/new" class="btn btn-lg btn-primary" ng-show="resumeBtn">
			Publish Your Resume</a>
		</div>
		</div>
	</div>
</div>
